### all ignore ###
#/*
#/**

### not ignore ###
#!/README.md
#!/.zshenv
#!/.zsh/
#!/.zsh/.zshenv
#!/.zsh/.zprofile
#!/.zsh/.zshrc
#!/scripts/
#!/.gitignore

# Sketchybar helpers are rebuilt for each machine.
dot_config/sketchybar/helpers/**/bin/

# Nix build output symlink.
/result
